header {
    background-color: #FACC15;
    nav {
        display: flex;
        justify-content: space-between;
        .logo {
            width: 90px;
            height: 90px;
        }
        .abrir-carrito {
            border: none;
            .changuito {
                right: 9px;
                top: 19px;
                height: 40px;
                padding-top: 2px;
                text-decoration: none;
                font-size: 0;
            }
        }
    }
}